extend layout

block content
    .breadcumb-area.navBar_bg
        .container.h-100
            .row.h-100.align-items-end
                .col-12
                    .breadcumb--con
                        h2.title About Us
                        nav(aria-label='breadcrumb')
                            ol.breadcrumb
                                li.breadcrumb-item
                                    a(href='#')
                                        i.fa.fa-home
                                        |  Home
                                li.breadcrumb-item.active(aria-current='page') About
    // ***** Breadcrumb Area End *****
    // ***** About Us Area Start *****
    section.mona-about-us-area.mb-30.section-padding-80-0
        .container
            .row
                // About Us Thumbnail
                .col-12.col-sm-6.col-lg-4
                    .about-us-thumbnail.mb-50
                        span.line
                        img(src='./img/bg-img/16.jpg', alt='')
                        span.line2
                // About Us Thumbnail
                .col-12.col-sm-6.col-lg-4
                    .about-us-thumbnail.mb-50
                        span.line
                        img(src='./img/bg-img/17.jpg', alt='')
                        span.line2
                // About Us Content
                .col-12.col-lg-4
                    .about-us-content.mb-50
                        h2 We Have 20+ Years Practical Experience in Agency
                        p
                            | Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.
                        p
                            | At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr.
        // Single Service Area
        .container
            .service-area.mt-80
                .row
                    // Single Service Area
                    .col-12.col-sm-6.col-lg-3
                        .single-service-area.mb-50
                            i.icon_film
                            h5 Fashion Shows
                            p At vero eos et accusam et justo duo dolores et ea rebum.
                    // Single Service Area
                    .col-12.col-sm-6.col-lg-3
                        .single-service-area.mb-50
                            i.icon_calendar
                            h5 Special Events
                            p At vero eos et accusam et justo duo dolores et ea rebum.
                    // Single Service Area
                    .col-12.col-sm-6.col-lg-3
                        .single-service-area.mb-50
                            i.icon_camera_alt
                            h5 Commercial Photo
                            p At vero eos et accusam et justo duo dolores et ea rebum.
                    // Single Service Area
                    .col-12.col-sm-6.col-lg-3
                        .single-service-area.mb-50
                            i.icon_house_alt
                            h5 Model School
                            p At vero eos et accusam et justo duo dolores et ea rebum.
    // ***** About Us Area End *****
    // ***** Core Value Area Start *****
    section.mona-core-value-area.bg-gray.section-padding-80-0
        .container
            .row
                // Section Heading
                .col-12
                    .section-heading.text-center
                        h2 Our Core Value
            .row
                .col-12.col-lg-6
                    .mona-benefits-area.mb-80
                        // Single Benefits Area
                        .single-benefits-area.d-flex.mb-30
                            // Icon
                            .benefits-icon
                                i.icon_box-checked
                            // Content
                            .benefits-content
                                h5 Expert Advice
                                p
                                    | Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor.
                        // Single Benefits Area
                        .single-benefits-area.d-flex.mb-30
                            // Icon
                            .benefits-icon
                                i.icon_like_alt
                            // Content
                            .benefits-content
                                h5 Clients Satisfaction
                                p
                                    | Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor.
                        // Single Benefits Area
                        .single-benefits-area.d-flex.mb-30
                            // Icon
                            .benefits-icon
                                i.icon_calendar
                            // Content
                            .benefits-content
                                h5 Planning & Strategy
                                p
                                    | Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor.
                .col-12.col-lg-6
                    .mona-video-area.mb-80
                        img(src='./img/bg-img/21.jpg', alt='')
                        // Play Button
                        a.btn.video-play-btn(href='https://www.youtube.com/watch?v=sSakBz_eYzQ')
                            i.fa.fa-play(aria-hidden='true')
    // ***** Core Value Area End *****
    // ***** Team Area Start *****
    section.mona-team-area.section-padding-80-0
        .container
            .row
                // Section Heading
                .col-12
                    .section-heading.text-center
                        h2 Our Team
            .row
                // Single Team Member Area
                .col-12.col-sm-6.col-lg-3
                    .single-team-member-area.mb-80
                        .team-member-thumbnail
                            // Thumbnail
                            img(src='./img/bg-img/22.jpg', alt='')
                            // Share Info
                            .share-info
                                // Share Icon
                                .share-icon
                                    a(href='#')
                                        i.fa.fa-share-alt(aria-hidden='true')
                                // Others Icon
                                .others-icon
                                    a(href='#')
                                        i.fa.fa-facebook(aria-hidden='true')
                                    a(href='#')
                                        i.fa.fa-twitter(aria-hidden='true')
                                    a(href='#')
                                        i.fa.fa-pinterest(aria-hidden='true')
                                    a(href='#')
                                        i.fa.fa-instagram(aria-hidden='true')
                                    a(href='#')
                                        i.fa.fa-youtube-play(aria-hidden='true')
                        .team-member-info
                            h4 Herbert Ortiz
                            h6 Director
                // Single Team Member Area
                .col-12.col-sm-6.col-lg-3
                    .single-team-member-area.mb-80
                        .team-member-thumbnail
                            // Thumbnail
                            img(src='./img/bg-img/23.jpg', alt='')
                            // Share Info
                            .share-info
                                // Share Icon
                                .share-icon
                                    a(href='#')
                                        i.fa.fa-share-alt(aria-hidden='true')
                                // Others Icon
                                .others-icon
                                    a(href='#')
                                        i.fa.fa-facebook(aria-hidden='true')
                                    a(href='#')
                                        i.fa.fa-twitter(aria-hidden='true')
                                    a(href='#')
                                        i.fa.fa-pinterest(aria-hidden='true')
                                    a(href='#')
                                        i.fa.fa-instagram(aria-hidden='true')
                                    a(href='#')
                                        i.fa.fa-youtube-play(aria-hidden='true')
                        .team-member-info
                            h4 Steve Dunn
                            h6 top model
                // Single Team Member Area
                .col-12.col-sm-6.col-lg-3
                    .single-team-member-area.mb-80
                        .team-member-thumbnail
                            // Thumbnail
                            img(src='./img/bg-img/24.jpg', alt='')
                            // Share Info
                            .share-info
                                // Share Icon
                                .share-icon
                                    a(href='#')
                                        i.fa.fa-share-alt(aria-hidden='true')
                                // Others Icon
                                .others-icon
                                    a(href='#')
                                        i.fa.fa-facebook(aria-hidden='true')
                                    a(href='#')
                                        i.fa.fa-twitter(aria-hidden='true')
                                    a(href='#')
                                        i.fa.fa-pinterest(aria-hidden='true')
                                    a(href='#')
                                        i.fa.fa-instagram(aria-hidden='true')
                                    a(href='#')
                                        i.fa.fa-youtube-play(aria-hidden='true')
                        .team-member-info
                            h4 Philip Bell
                            h6 choreographer
                // Single Team Member Area
                .col-12.col-sm-6.col-lg-3
                    .single-team-member-area.mb-80
                        .team-member-thumbnail
                            // Thumbnail
                            img(src='./img/bg-img/25.jpg', alt='')
                            // Share Info
                            .share-info
                                // Share Icon
                                .share-icon
                                    a(href='#')
                                        i.fa.fa-share-alt(aria-hidden='true')
                                // Others Icon
                                .others-icon
                                    a(href='#')
                                        i.fa.fa-facebook(aria-hidden='true')
                                    a(href='#')
                                        i.fa.fa-twitter(aria-hidden='true')
                                    a(href='#')
                                        i.fa.fa-pinterest(aria-hidden='true')
                                    a(href='#')
                                        i.fa.fa-instagram(aria-hidden='true')
                                    a(href='#')
                                        i.fa.fa-youtube-play(aria-hidden='true')
                        .team-member-info
                            h4 Aiden Caldwell
                            h6 Model
    // ***** Team Area End *****
    // ***** Client Feedback Area Start *****
    section.clients-feedback-area.section-padding-0-80.clearfix
        .container
            .row.justify-content-center
                .col-12.col-md-10
                    .slider.slider-for
                        // Client Feedback Text
                        .client-feedback-text.text-center
                            .quote-icon
                                i.icon_quotations(aria-hidden='true')
                            .client-description.text-center
                                h4
                                    | “Success Agency is, hands down, one of the best companies that we have worked with! The company has either met or exceeded all of the goals that we initially set for all of the projects that they implemented for us.”
                            .ratings.text-center
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                            .client-name.text-center
                                h5 Rodney Williams
                                span Producer
                        // Client Feedback Text
                        .client-feedback-text.text-center
                            .quote-icon
                                i.icon_quotations(aria-hidden='true')
                            .client-description.text-center
                                h4
                                    | “Success Agency is, hands down, one of the best companies that we have worked with! The company has either met or exceeded all of the goals that we initially set for all of the projects that they implemented for us.”
                            .ratings.text-center
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                            .client-name.text-center
                                h5 Nazrul Islam
                                span Producer
                        // Client Feedback Text
                        .client-feedback-text.text-center
                            .quote-icon
                                i.icon_quotations(aria-hidden='true')
                            .client-description.text-center
                                h4
                                    | “Success Agency is, hands down, one of the best companies that we have worked with! The company has either met or exceeded all of the goals that we initially set for all of the projects that they implemented for us.”
                            .ratings.text-center
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                            .client-name.text-center
                                h5 Williams Rodney
                                span Producer
                        // Client Feedback Text
                        .client-feedback-text.text-center
                            .quote-icon
                                i.icon_quotations(aria-hidden='true')
                            .client-description.text-center
                                h4
                                    | “Success Agency is, hands down, one of the best companies that we have worked with! The company has either met or exceeded all of the goals that we initially set for all of the projects that they implemented for us.”
                            .ratings.text-center
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                            .client-name.text-center
                                h5 Rodney Williams
                                span Producer
                        // Client Feedback Text
                        .client-feedback-text.text-center
                            .quote-icon
                                i.icon_quotations(aria-hidden='true')
                            .client-description.text-center
                                h4
                                    | “Success Agency is, hands down, one of the best companies that we have worked with! The company has either met or exceeded all of the goals that we initially set for all of the projects that they implemented for us.”
                            .ratings.text-center
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                                i.fa.fa-star(aria-hidden='true')
                            .client-name.text-center
                                h5 Rodney Williams
                                span Producer
                // Client Thumbnail Area
                .col-12.col-md-6.col-lg-5
                    .slider.slider-nav
                        .client-thumbnail
                            img(src='./img/bg-img/6.jpg', alt='')
                        .client-thumbnail
                            img(src='./img/bg-img/7.jpg', alt='')
                        .client-thumbnail
                            img(src='./img/bg-img/8.jpg', alt='')
                        .client-thumbnail
                            img(src='./img/bg-img/6.jpg', alt='')
                        .client-thumbnail
                            img(src='./img/bg-img/7.jpg', alt='')
    // ***** Client Feedback Area End *****
    // ***** CTA Area Start *****
    section.mona-cta-area.section-padding-80
        .container
            .row
                .col-12
                    .cta-content
                        h2 Do You Want To Be A Model?
                        h6
                            | Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor.
                        a.btn.mona-btn(href='#') Contact Us
    // ***** CTA Area End *****
