doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |   
    meta(name='description', content='Mona - Model Agency HTML5 Template')
    |   
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |   
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Title
    title Mona - Model Agency HTML5 Template
    // Favicon
    link(rel='icon', href='./img/core-img/favicon.ico')
    // Core Stylesheet
    link(rel='stylesheet', href='style.css')
  body
    // Preloader
    #preloader
      .wrapper
        .cssload-loader
    // ***** Header Area Start *****
    header.header-area
      // Main Header Start
      .main-header-area
        .classy-nav-container.breakpoint-off
          // Classy Menu
          nav#monaNav.classy-navbar.justify-content-between
            // Background Curve
            .bg-curve(style='background-image: url(./img/core-img/curve.png);')
            // Logo
            a.nav-brand(href='index.html')
              img(src='./img/core-img/logo.png', alt='')
            // Navbar Toggler
            .classy-navbar-toggler
              span.navbarToggler
                span
                span
                span
            // Menu
            .classy-menu
              // Menu Close Button
              .classycloseIcon
                .cross-wrap
                  span.top
                  span.bottom
              // Nav Start
              .classynav
                ul#nav
                  li.current-item
                    a(href='./index.html') Home
                  |                 
                  li
                    a(href='#') Pages
                    |                   
                    ul.dropdown
                      li
                        a(href='./index.html') - Home
                      |                     
                      li
                        a(href='./about.html') - About Us
                      |                     
                      li
                        a(href='./projects.html') - Projects
                      |                     
                      li
                        a(href='./models.html') - Models
                      |                     
                      li
                        a(href='./casting.html') - Casting
                      |                     
                      li
                        a(href='./blog.html') - Blog
                      |                     
                      li
                        a(href='./single-blog.html') - Blog Details
                      |                     
                      li
                        a(href='./contact.html') - Contact
                      |                     
                      li
                        a(href='#') - Dropdown
                        |                       
                        ul.dropdown
                          li
                            a(href='#') - Dropdown Item
                          |                         
                          li
                            a(href='#') - Dropdown Item
                            |                           
                            ul.dropdown
                              li
                                a(href='#') - Even Dropdown
                              |                             
                              li
                                a(href='#') - Even Dropdown
                              |                             
                              li
                                a(href='#') - Even Dropdown
                              |                             
                              li
                                a(href='#') - Even Dropdown
                          |                         
                          li
                            a(href='#') - Dropdown Item
                          |                         
                          li
                            a(href='#') - Dropdown Item
                  |                 
                  li
                    a(href='./projects.html') Project
                  |                 
                  li
                    a(href='./models.html') Models
                  |                 
                  li
                    a(href='./casting.html') Casting
                  |                 
                  li
                    a(href='#') Blog
                    |                   
                    ul.dropdown
                      li
                        a(href='./blog.html') - Blog
                      |                     
                      li
                        a(href='./single-blog.html') - Blog Details
                  |                 
                  li
                    a(href='./contact.html') Contact
                // Search Icon
                .search-icon(data-toggle='modal', data-target='#searchModal')
                  i.icon_search
              // Nav End
    // ***** Header Area End *****
    // ***** Top Search Area Start *****
    .top-search-area
      // Search Modal
      #searchModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
          .modal-content
            .modal-body
              // Close Button
              button.btn.close-btn(type='button', data-dismiss='modal')
                i.fa.fa-times
              // Form
              form(action='index.html', method='post')
                input.form-control(type='search', name='top-search-bar', placeholder='Search and hit enter...')
                |               
                button(type='submit') Search
    // ***** Top Search Area End *****
    // ***** Welcome Area Start *****
    section.welcome-area
      // Welcome Slides
      .welcome-slides.owl-carousel
        // Single Welcome Slide
        .single-welcome-slide
          // Background Curve
          .bg-curve(style='background-image: url(./img/core-img/curve.png);')
          // Main Background Image
          .main-bg-img.bg-img(data-animation='fadeInUpBig', data-delay='200ms', style='background-image: url(./img/bg-img/18.jpg);')
          // Welcome Text
          .container.h-100
            .row.h-100.align-items-center
              .col-12
                .welcome-text
                  h2(data-animation='bounceInUp', data-delay='400ms')
                    | Jesse 
                    br
                    |                   Edwards
                  |                 
                  h5(data-animation='bounceInUp', data-delay='600ms') Star Model 2019
                  |                 
                  a.btn(href='#', data-animation='bounceInUp', data-delay='800ms')
                    | Model details 
                    i.arrow_right
          // Social Info
          .social-info
            a(href='#', data-animation='bounceInDown', data-delay='1000ms')
              i.fa.fa-facebook
              |  
              span Facebook
            |           
            a(href='#', data-animation='bounceInDown', data-delay='1100ms')
              i.fa.fa-twitter
              |  
              span Twitter
            |           
            a(href='#', data-animation='bounceInDown', data-delay='1200ms')
              i.fa.fa-instagram
              |  
              span Instagram
            |           
            a(href='#', data-animation='bounceInDown', data-delay='1300ms')
              i.fa.fa-youtube-play
              |  
              span Youtube
          // Pager
          .slide-pager
            a(href='#') Next: Naznin Niloy
        // Single Welcome Slide
        .single-welcome-slide
          // Background Curve
          .bg-curve(style='background-image: url(./img/core-img/curve.png);')
          // Main Background Image
          .main-bg-img.bg-img(data-animation='fadeInUpBig', data-delay='200ms', style='background-image: url(./img/bg-img/19.jpg);')
          // Welcome Text
          .container.h-100
            .row.h-100.align-items-center
              .col-12
                .welcome-text
                  h2(data-animation='bounceInUp', data-delay='400ms')
                    | Naznin 
                    br
                    |                   Niloy
                  |                 
                  h5(data-animation='bounceInUp', data-delay='600ms') Star Model 2019
                  |                 
                  a.btn(href='#', data-animation='bounceInUp', data-delay='800ms')
                    | Model details 
                    i.arrow_right
          // Social Info
          .social-info
            a(href='#', data-animation='bounceInDown', data-delay='1000ms')
              i.fa.fa-facebook
              |  
              span Facebook
            |           
            a(href='#', data-animation='bounceInDown', data-delay='1100ms')
              i.fa.fa-twitter
              |  
              span Twitter
            |           
            a(href='#', data-animation='bounceInDown', data-delay='1200ms')
              i.fa.fa-instagram
              |  
              span Instagram
            |           
            a(href='#', data-animation='bounceInDown', data-delay='1300ms')
              i.fa.fa-youtube-play
              |  
              span Youtube
          // Pager
          .slide-pager
            a(href='#') Next: Shaila Ritu
        // Single Welcome Slide
        .single-welcome-slide
          // Background Curve
          .bg-curve(style='background-image: url(./img/core-img/curve.png);')
          // Main Background Image
          .main-bg-img.bg-img(data-animation='fadeInUpBig', data-delay='200ms', style='background-image: url(./img/bg-img/20.jpg);')
          // Welcome Text
          .container.h-100
            .row.h-100.align-items-center
              .col-12
                .welcome-text
                  h2(data-animation='bounceInUp', data-delay='400ms')
                    | Shaila 
                    br
                    |                   Ritu
                  |                 
                  h5(data-animation='bounceInUp', data-delay='600ms') Star Model 2019
                  |                 
                  a.btn(href='#', data-animation='bounceInUp', data-delay='800ms')
                    | Model details 
                    i.arrow_right
          // Social Info
          .social-info
            a(href='#', data-animation='bounceInDown', data-delay='1000ms')
              i.fa.fa-facebook
              |  
              span Facebook
            |           
            a(href='#', data-animation='bounceInDown', data-delay='1100ms')
              i.fa.fa-twitter
              |  
              span Twitter
            |           
            a(href='#', data-animation='bounceInDown', data-delay='1200ms')
              i.fa.fa-instagram
              |  
              span Instagram
            |           
            a(href='#', data-animation='bounceInDown', data-delay='1300ms')
              i.fa.fa-youtube-play
              |  
              span Youtube
          // Pager
          .slide-pager
            a(href='#') Next: Jesse Edwards
    // ***** Welcome Area End *****
    // ***** About Us Area Start *****
    section.mona-about-us-area.mb-30.section-padding-80-0
      .container
        .row
          // About Us Thumbnail
          .col-12.col-sm-6.col-lg-4
            .about-us-thumbnail.mb-50.wow.fadeInUp(data-wow-delay='100ms')
              span.line
              |             
              img(src='./img/bg-img/16.jpg', alt='')
              |             
              span.line2
          // About Us Thumbnail
          .col-12.col-sm-6.col-lg-4
            .about-us-thumbnail.mb-50.wow.fadeInUp(data-wow-delay='400ms')
              span.line
              |             
              img(src='./img/bg-img/17.jpg', alt='')
              |             
              span.line2
          // About Us Content
          .col-12.col-lg-4
            .about-us-content.mb-50.wow.fadeInUp(data-wow-delay='700ms')
              h2 We Have 20+ Years Practical Experience in Agency
              |             
              p
                | Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.
              |             
              p
                | At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr.
      // Single Service Area
      .container
        .service-area.mt-80
          .row
            // Single Service Area
            .col-12.col-sm-6.col-lg-3
              .single-service-area.mb-50.wow.fadeInUp(data-wow-delay='100ms')
                i.icon_film
                |               
                h5 Fashion Shows
                |               
                p At vero eos et accusam et justo duo dolores et ea rebum.
            // Single Service Area
            .col-12.col-sm-6.col-lg-3
              .single-service-area.mb-50.wow.fadeInUp(data-wow-delay='300ms')
                i.icon_calendar
                |               
                h5 Special Events
                |               
                p At vero eos et accusam et justo duo dolores et ea rebum.
            // Single Service Area
            .col-12.col-sm-6.col-lg-3
              .single-service-area.mb-50.wow.fadeInUp(data-wow-delay='500ms')
                i.icon_camera_alt
                |               
                h5 Commercial Photo
                |               
                p At vero eos et accusam et justo duo dolores et ea rebum.
            // Single Service Area
            .col-12.col-sm-6.col-lg-3
              .single-service-area.mb-50.wow.fadeInUp(data-wow-delay='700ms')
                i.icon_house_alt
                |               
                h5 Model School
                |               
                p At vero eos et accusam et justo duo dolores et ea rebum.
    // ***** About Us Area End *****
    // ***** Model Area Start *****
    section.mona-model-area
      .container
        .row
          .col-12
            .model-tab-area
              ul#mona_modelTab.nav.nav-tabs.mb-50(role='tablist')
                li.nav-item
                  a#tab1.nav-link.active(data-toggle='tab', href='#tab-1', role='tab', aria-controls='tab-1', aria-selected='true') All
                |               
                li.nav-item
                  a#tab2.nav-link(data-toggle='tab', href='#tab-2', role='tab', aria-controls='tab-2', aria-selected='false') Model
                |               
                li.nav-item
                  a#tab3.nav-link(data-toggle='tab', href='#tab-3', role='tab', aria-controls='tab-3', aria-selected='false') Actor
                |               
                li.nav-item
                  a#tab4.nav-link(data-toggle='tab', href='#tab-4', role='tab', aria-controls='tab-4', aria-selected='false') Singer
      // Mona Tab Content
      .mona-tab-content
        .container-fluid
          .row
            .col-12
              #mona_modelTabContent.tab-content
                #tab-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='tab1')
                  // All Model Slide
                  .mona-all-model-slide.owl-carousel
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/10.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/9.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Willie Figueroa
                        |                       
                        h6 Model
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/11.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/12.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Della Martinez
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/12.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/13.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Peter Alvarez
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/9.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/14.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Olive Ross
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/13.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/14.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Louise Ray
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/10.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/9.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Willie Figueroa
                        |                       
                        h6 Model
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/11.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/12.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Della Martinez
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/12.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/13.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Peter Alvarez
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/9.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/14.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Olive Ross
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/13.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/14.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Louise Ray
                        |                       
                        h6 actor
                |               
                #tab-2.tab-pane.fade(role='tabpanel', aria-labelledby='tab2')
                  // All Model Slide
                  .mona-models-slide.owl-carousel
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/10.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/9.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Willie Figueroa
                        |                       
                        h6 Model
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/11.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/12.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Della Martinez
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/12.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/13.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Peter Alvarez
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/9.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/14.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Olive Ross
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/13.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/14.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Louise Ray
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/10.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/9.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Willie Figueroa
                        |                       
                        h6 Model
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/11.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/12.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Della Martinez
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/12.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/13.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Peter Alvarez
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/9.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/14.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Olive Ross
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/13.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/14.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Louise Ray
                        |                       
                        h6 actor
                |               
                #tab-3.tab-pane.fade(role='tabpanel', aria-labelledby='tab3')
                  // All Model Slide
                  .mona-actor-slide.owl-carousel
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/10.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/9.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Willie Figueroa
                        |                       
                        h6 Model
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/11.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/12.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Della Martinez
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/12.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/13.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Peter Alvarez
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/9.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/14.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Olive Ross
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/13.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/14.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Louise Ray
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/10.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/9.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Willie Figueroa
                        |                       
                        h6 Model
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/11.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/12.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Della Martinez
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/12.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/13.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Peter Alvarez
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/9.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/14.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Olive Ross
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/13.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/14.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Louise Ray
                        |                       
                        h6 actor
                |               
                #tab-4.tab-pane.fade(role='tabpanel', aria-labelledby='tab4')
                  // All Model Slide
                  .mona-singer-slide.owl-carousel
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/10.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/9.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Willie Figueroa
                        |                       
                        h6 Model
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/11.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/12.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Della Martinez
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/12.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/13.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Peter Alvarez
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/9.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/14.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Olive Ross
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/13.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/14.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Louise Ray
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/10.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/9.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Willie Figueroa
                        |                       
                        h6 Model
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/11.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/12.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Della Martinez
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/12.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/13.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Peter Alvarez
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/9.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/14.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Olive Ross
                        |                       
                        h6 actor
                    // Single Model Item
                    .single-model-item
                      .model-thumbnail
                        // First Thumbnail
                        img.first-thumbnail(src='./img/bg-img/13.jpg', alt='')
                        // Second Thumbnail
                        img.second-thumbnail(src='./img/bg-img/14.jpg', alt='')
                        // Share Info
                        .share-info
                          // Share Icon
                          .share-icon
                            a(href='#')
                              i.fa.fa-share-alt(aria-hidden='true')
                          // Others Icon
                          .others-icon
                            a(href='#')
                              i.fa.fa-facebook(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-twitter(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-pinterest(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-instagram(aria-hidden='true')
                            |                           
                            a(href='#')
                              i.fa.fa-youtube-play(aria-hidden='true')
                      |                     
                      .model-info
                        h3 Louise Ray
                        |                       
                        h6 actor
    // ***** Model Area End *****
    // ***** Client Feedback Area Start *****
    section.clients-feedback-area.section-padding-80.clearfix
      .container
        .row.justify-content-center
          .col-12.col-md-10
            .slider.slider-for
              // Client Feedback Text
              .client-feedback-text.text-center
                .quote-icon
                  i.icon_quotations(aria-hidden='true')
                |               
                .client-description.text-center
                  h4
                    | &ldquo;Success Agency is, hands down, one of the best companies that we have worked with! The company has either met or exceeded all of the goals that we initially set for all of the projects that they implemented for us.&rdquo;
                |               
                .ratings.text-center
                  i.fa.fa-star(aria-hidden='true')
                  |                 
                  i.fa.fa-star(aria-hidden='true')
                  |                 
                  i.fa.fa-star(aria-hidden='true')
                  |                 
                  i.fa.fa-star(aria-hidden='true')
                  |                 
                  i.fa.fa-star(aria-hidden='true')
                |               
                .client-name.text-center
                  h5 Rodney Williams
                  |                 
                  span Producer
              // Client Feedback Text
              .client-feedback-text.text-center
                .quote-icon
                  i.icon_quotations(aria-hidden='true')
                |               
                .client-description.text-center
                  h4
                    | &ldquo;Success Agency is, hands down, one of the best companies that we have worked with! The company has either met or exceeded all of the goals that we initially set for all of the projects that they implemented for us.&rdquo;
                |               
                .ratings.text-center
                  i.fa.fa-star(aria-hidden='true')
                  |                 
                  i.fa.fa-star(aria-hidden='true')
                  |                 
                  i.fa.fa-star(aria-hidden='true')
                  |                 
                  i.fa.fa-star(aria-hidden='true')
                  |                 
                  i.fa.fa-star(aria-hidden='true')
                |               
                .client-name.text-center
                  h5 Nazrul Islam
                  |                 
                  span Producer
              // Client Feedback Text
              .client-feedback-text.text-center
                .quote-icon
                  i.icon_quotations(aria-hidden='true')
                |               
                .client-description.text-center
                  h4
                    | &ldquo;Success Agency is, hands down, one of the best companies that we have worked with! The company has either met or exceeded all of the goals that we initially set for all of the projects that they implemented for us.&rdquo;
                |               
                .ratings.text-center
                  i.fa.fa-star(aria-hidden='true')
                  |                 
                  i.fa.fa-star(aria-hidden='true')
                  |                 
                  i.fa.fa-star(aria-hidden='true')
                  |                 
                  i.fa.fa-star(aria-hidden='true')
                  |                 
                  i.fa.fa-star(aria-hidden='true')
                |               
                .client-name.text-center
                  h5 Williams Rodney
                  |                 
                  span Producer
              // Client Feedback Text
              .client-feedback-text.text-center
                .quote-icon
                  i.icon_quotations(aria-hidden='true')
                |               
                .client-description.text-center
                  h4
                    | &ldquo;Success Agency is, hands down, one of the best companies that we have worked with! The company has either met or exceeded all of the goals that we initially set for all of the projects that they implemented for us.&rdquo;
                |               
                .ratings.text-center
                  i.fa.fa-star(aria-hidden='true')
                  |                 
                  i.fa.fa-star(aria-hidden='true')
                  |                 
                  i.fa.fa-star(aria-hidden='true')
                  |                 
                  i.fa.fa-star(aria-hidden='true')
                  |                 
                  i.fa.fa-star(aria-hidden='true')
                |               
                .client-name.text-center
                  h5 Rodney Williams
                  |                 
                  span Producer
              // Client Feedback Text
              .client-feedback-text.text-center
                .quote-icon
                  i.icon_quotations(aria-hidden='true')
                |               
                .client-description.text-center
                  h4
                    | &ldquo;Success Agency is, hands down, one of the best companies that we have worked with! The company has either met or exceeded all of the goals that we initially set for all of the projects that they implemented for us.&rdquo;
                |               
                .ratings.text-center
                  i.fa.fa-star(aria-hidden='true')
                  |                 
                  i.fa.fa-star(aria-hidden='true')
                  |                 
                  i.fa.fa-star(aria-hidden='true')
                  |                 
                  i.fa.fa-star(aria-hidden='true')
                  |                 
                  i.fa.fa-star(aria-hidden='true')
                |               
                .client-name.text-center
                  h5 Rodney Williams
                  |                 
                  span Producer
          // Client Thumbnail Area
          .col-12.col-md-6.col-lg-5
            .slider.slider-nav
              .client-thumbnail
                img(src='./img/bg-img/6.jpg', alt='')
              |             
              .client-thumbnail
                img(src='./img/bg-img/7.jpg', alt='')
              |             
              .client-thumbnail
                img(src='./img/bg-img/8.jpg', alt='')
              |             
              .client-thumbnail
                img(src='./img/bg-img/6.jpg', alt='')
              |             
              .client-thumbnail
                img(src='./img/bg-img/7.jpg', alt='')
    // ***** Client Feedback Area End *****
    // ***** CTA Area Start *****
    section.mona-cta-area.section-padding-80
      .container
        .row
          .col-12
            .cta-content
              h2 Do You Want To Be A Model?
              |             
              h6
                | Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor.
              |             
              a.btn.mona-btn(href='#') Contact Us
    // ***** CTA Area End *****
    // ***** Blog Area Start *****
    section.mona-blog-area.mb-50.section-padding-80-0
      .container
        .row
          // Section Heading
          .col-12
            .section-heading.text-center
              h2 Latest News
        |       
        .row
          // Single Blog Post
          .col-12.col-lg-4
            .single-blog-post.mb-30.wow.fadeInUp(data-wow-delay='100ms')
              .post-thumbnail.slide-post.owl-carousel
                a(href='#')
                  img(src='./img/bg-img/3.jpg', alt='')
                |               
                a(href='#')
                  img(src='./img/bg-img/4.jpg', alt='')
              |             
              .post-content
                a.post-title(href='#') How To Use Eye Shadow Like The Stars
                |               
                span.post-date 30 Aug 2018
          |         
          .col-12.col-lg-8
            .row
              // Single Blog Post
              .col-12
                .single-blog-post.featured-post.mb-30.wow.fadeInUp(data-wow-delay='300ms')
                  .post-thumbnail
                    a(href='#')
                      img(src='./img/bg-img/5.jpg', alt='')
                  |                 
                  .post-content
                    div
                      a.post-title(href='#') What Curling Irons Are The Best Ones
                      |                     
                      span.post-date 30 Aug 2018
              // Single Blog Post
              .col-12.col-sm-6
                .single-blog-post.mb-30.wow.fadeInUp(data-wow-delay='500ms')
                  .post-thumbnail
                    a(href='#')
                      img(src='./img/bg-img/1.jpg', alt='')
                  |                 
                  .post-content
                    a.post-title(href='#') What Curling Irons Are The Best Ones
                    |                   
                    span.post-date 30 Aug 2018
              // Single Blog Post
              .col-12.col-sm-6
                .single-blog-post.mb-30.wow.fadeInUp(data-wow-delay='700ms')
                  .post-thumbnail
                    a(href='#')
                      img(src='./img/bg-img/2.jpg', alt='')
                  |                 
                  .post-content
                    a.post-title(href='#') How To Save Money On Beauty Products
                    |                   
                    span.post-date 30 Aug 2018
    // ***** Blog Area End *****
    // ***** Footer Area Start *****
    footer.footer-area.section-padding-80-0
      .container
        .row.justify-content-between
          // Single Footer Widget
          .col-12.col-sm-6.col-lg-4.col-xl-3
            .single-footer-widget.mb-60
              // Logo
              a.d-block.mb-4(href='#')
                img(src='./img/core-img/logo.png', alt='')
              |             
              p
                | Integer vehicula mauris libero, at molestie eros imperdiet sit amet. Suspendisse mattis ante sit amet ante.
              |             
              .copywrite-text
                p
                  | &copy;
                  // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                  | Copyright &copy;
                  script.
                    document.write(new Date().getFullYear());
                  |  All rights reserved | This template is made with 
                  i.fa.fa-heart-o(aria-hidden='true')
                  |  by 
                  a(href='https://colorlib.com', target='_blank') Colorlib
                  // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
          // Single Footer Widget
          .col-12.col-sm-6.col-lg-4.col-xl-3
            .single-footer-widget.mb-60
              // Widget Title
              h4.widget-title Our Link
              // Catagories Nav
              nav
                ul.our-link
                  li
                    a(href='#') New Faces
                  |                 
                  li
                    a(href='#') Model Of the Week
                  |                 
                  li
                    a(href='#') Classic Women
                  |                 
                  li
                    a(href='#') Privacy Terms
                  |                 
                  li
                    a(href='#') Classic Men
                  |                 
                  li
                    a(href='#') Conditions
                  |                 
                  li
                    a(href='#') Hair &amp; Styles
                  |                 
                  li
                    a(href='#') Contact
          // Single Footer Widget
          .col-12.col-lg-4.col-xl-3
            .single-footer-widget.mb-60
              // Widget Title
              h4.widget-title Contact
              // Footer Content
              .footer-content.mb-30
                h4 +01-3-8888-6868
                |               
                h6 40 Baria Sreet 133/2 NewYork City
              // Social Info
              .footer-social-info
                a.facebook(href='#', data-toggle='tooltip', data-placement='top', title='Facebook')
                  i.fa.fa-facebook
                |               
                a.twitter(href='#', data-toggle='tooltip', data-placement='top', title='Twitter')
                  i.fa.fa-twitter
                |               
                a.pinterest(href='#', data-toggle='tooltip', data-placement='top', title='Pinterest')
                  i.fa.fa-pinterest
                |               
                a.instagram(href='#', data-toggle='tooltip', data-placement='top', title='Instagram')
                  i.fa.fa-instagram
                |               
                a.youtube(href='#', data-toggle='tooltip', data-placement='top', title='YouTube')
                  i.fa.fa-youtube-play
    // ***** Footer Area End *****
    // ******* All JS *******
    // jQuery js
    script(src='js/jquery.min.js')
    // Popper js
    script(src='js/popper.min.js')
    // Bootstrap js
    script(src='js/bootstrap.min.js')
    // All js
    script(src='js/mona.bundle.js')
    // Active js
    script(src='js/default-assets/active.js')
