footer.footer-area.section-padding-80-0
  .container
    .row.justify-content-between
      // Single Footer Widget
      .col-12.col-sm-6.col-lg-4.col-xl-3
        .single-footer-widget.mb-60
          // Logo
          a.d-block.mb-4(href='#')
            //- img(src='./img/core-img/logo.png', alt='')
            svg(xmlns='http://www.w3.org/2000/svg', width='87', height='103', viewBox='0 0 87 103')
                g#logo(transform='translate(-104 -91)')
                  g#Rectangle_1(data-name='Rectangle 1', transform='translate(104 96)', fill='none', stroke='#000', stroke-width='5')
                    rect(width='87', height='87', stroke='none')
                    |                   
                    rect(x='2.5', y='2.5', width='82', height='82', fill='none')
                  |                 
                  text#S(transform='translate(148 165)', font-size='90', font-family='Perpetua-Bold, Perpetua', font-weight='700')
                    tspan(x='-20.61', y='0') S
          |             
          p
            | Integer vehicula mauris libero, at molestie eros imperdiet sit amet. Suspendisse mattis ante sit amet ante.
          |             
          .copywrite-text
            p
              | &copy;
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              | Copyright &copy;
              script.
                document.write(new Date().getFullYear());
              |  All rights reserved | This template is made with 
              i.fa.fa-heart-o(aria-hidden='true')
              |  by 
              a(href='https://colorlib.com', target='_blank') Colorlib
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
      // Single Footer Widget
      .col-12.col-sm-6.col-lg-4.col-xl-3
        .single-footer-widget.mb-60
          // Widget Title
          h4.widget-title Our Link
          // Catagories Nav
          nav
            ul.our-link
              li
                a(href='/') - Home
              |                     
              li
                a(href='/about') - About Us
              |                     
              li
                a(href='/projects') - Projects
              |                     
              li
                a(href='./contact') - Contact  
      // Single Footer Widget
      .col-12.col-lg-4.col-xl-3
        .single-footer-widget.mb-60
          // Widget Title
          h4.widget-title Contact
          // Footer Content
          .footer-content.mb-30
            h4 +1 9999999999
            |               
            h6 Oshawa, ON, Canada
          // Social Info
          .footer-social-info              
            a.twitter(href='https://twitter.com/smitpatelx', data-toggle='tooltip', data-placement='top', title='Twitter')
              i.fa.fa-twitter
            |               
            a.instagram(href='https://instagram.com/smitpatelx', data-toggle='tooltip', data-placement='top', title='Instagram')
              i.fa.fa-instagram
            |               
            a.youtube(href='https://www.youtube.com/channel/UCQD__FImGbCjeF2vOqknj3w', data-toggle='tooltip', data-placement='top', title='YouTube')
              i.fa.fa-youtube-play
// ***** Footer Area End *****
// ******* All JS *******
// jQuery js
script(src='/js/main.js')
script(src='/js/custom.js')